# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production builds
client/dist/
server/dist/

# Environment variables
server/.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.DS_Store

# Database
*.db
*.sqlite

server/voiceenv/
./server/voiceenv/
